@charset 'utf-8';

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 900px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 50px;
    margin-top: 100px;
}
.seatcontainer{
    border-top: 2px solid black;
    width: 75%;
    margin-right: 15px;
}
.seatcontainer-first{
    border: 1px solid lightgray;
    padding-bottom: 60px;
    border-radius: 1px;
}
.infocontainer{
    width: 25%;
    background-color: rgb(49, 49, 49);
    color: white;
    border-radius: 10px;
    height: 100%;
    /* height: fit-content; */
}
h2{
    position: absolute;
    left:0;
    top: 0;;
}
.seatcontainer-child{
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
}
.seatcontainer-child button{
    width: 80px;
    background-color: white;
    border: 1px solid lightgrey;
    padding: 4px 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-weight: 500;
}
.seatcontainer-child02{
    display: flex;
    background-color: rgb(240, 239, 239);
    padding: 12px 0;
}
.seatcontainer-child02 div{
    display: flex;
    width: 25%;
    margin-left: 8px;
}
.seatcontainer-child02 div button{
    border: 1px solid lightgray;
    background-color: white;
    cursor: pointer;
}
.seatcontainer-child02 div #adultminus,
.seatcontainer-child02 div #preminus{
    width: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.seatcontainer-child02 div #adultplus,
.seatcontainer-child02 div #preplus{
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.seatcontainer-child02 div #adult,
.seatcontainer-child02 div #pre{
    width: 40px;
}
.movie-info{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.movietitle{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 12px;
}
.age{
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    font-weight: bold;
    font-size: 10px;
    margin-right: 5px;
}
.dimension{
    margin-left: 30px;
}
.movie-info{
    border-top: 1px solid lightgray;
    padding-top: 10px;
    margin-top: 5px;
    font-size: 9px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}
.movie-info img{
    height: 70px;
}
.movie-time{
    font-size: 9px;
}
.time-change{
    background-color: rgb(49, 49, 49);
    border-radius: 50%;
    font-size: 8px;
    color: white;
    border: 1px solid lightgray;
    width: 10px;
    text-align: center;
    align-items: center;
    height: 10px;
    line-height: 8px;
    margin-left: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.choice-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    width: 90%;
    justify-self: center;
    height: 170px;
    margin-top: 10px;
    border-radius: 3px;
    margin-bottom: 50px;
}
.choicetype div img{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
.choicetype div{
    font-size: 9px;
    margin-top: 5px;
}
.choicetype {
    width: 60%;
    /* border-right: 1px solid lightgray; */
    margin: 10px auto;
    margin-left: 10px;
}
.choiceseat{
    width: 50%;
    text-align: center;
    border-left: 1px solid lightgray;
}
.choice-child {
    font-size: 10px;
    margin-top: 10px;
}
.nextback button{
    width: 50%;
    border: none;
    cursor: pointer;
}
.nextback{
    display: flex;
    height: 30px;
}
.back{
    background-color: gray;
    border-bottom-left-radius: 5px;
}
.next{
    background-color: lightgray;
    border-bottom-right-radius: 5px;
}
.table-number{
    /* border: 1px solid lightblue; */
    text-align: center;
    /* margin: 0 5px; */
    height: 190px;
}

.table-number td{
    display: flex;
    /* border: 1px solid red; */
    /* margin: 2px 0; */
    /* width: 15px; */
    /* height: 20px; */
    /* margin: 5px 0; */
    /* justify-content: space-between; */
}
.eng{
    display: flex;
    /* border: 1px solid red;  */
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 8px;
    height: 190px;
    cursor: pointer;
}

#seatwrap{
    width: 50%;
    display: flex;
    justify-self: center;
    /* justify-content: space-between; */
}
h4{
    text-align: center;
    margin: 15px 0;
}
.seattable{
    display: flex;
    width: 90%;
    /* border: 1px solid red; */
    justify-content: center;
    margin-top: 3px;
}
.seattable tr{
    width: 8%;
    height: 195px;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 5px;
}
.seattable tr td{
    display: flex;
    justify-content: center;
    border: 1px solid lightskyblue;
    color: white;
    font-size: 12px;
    height: 9%;
    margin: 1.5px 0;
    cursor: pointer;
    line-height: 12px;
}
tbody{
    width: 300px;
    display: flex;
    justify-content: center;
}
.seatchild{
    width: 80%;
    justify-self: center;
    height: 120px;
    display: flex;
}
.seatchild ul{
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.seatchild ul li{
    border: 1px solid gray;
    width: 90%;
    height: 28px;
    margin-bottom: 3px;
    line-height: 28px;
}
.seatnum.complete{
    background-color: purple;
    border-top-right-radius: 5px; 
}
.seatodd{
    background-color: lightgray;
}
.seatnum{
    background-color: gray;
}
.seatresult{
    background-color: purple;
}
.active{
    background-color: blueviolet;
}
